body {
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color: #1e1e2f;
}
header{
    background: linear-gradient(to right, #0077b6, #00b4d8);
    color: white;
    padding: 30px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
}

h2 {
    color: #00bcd4;
}


h3 {
    color: #00bcd4;
}

button {
    /* Centraliza o texto */
    text-align: center;
    width: 25%; /* mesma largura do textarea */
    background-color: #00bcd4;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0097a7;
    transform: scale(1.05);
}

section{
    /* Centraliza o texto */
    text-align: center;
    margin: 20px;
    padding: 15px;
    background: #2c2c3e;
    border-radius: 8px;
    align-items: center; /* centraliza os elementos horizontalmente */
    width: 46%;
}

textarea {
    width: 75%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    resize: vertical;
    background-color: #f8f8f8;
    color: #000;
    margin-bottom: 10px; /* espaço entre textarea e botão */
}

.result{
    min-height: 83px; /* Define uma altura mínima para expandir */
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
    margin: 30px;
}

.about {
    position: absolute;
    top: 140px;  /* Distância do topo */
    right: 10px; /* Distância da direita */
}
.example {
    position: absolute;
    top: 330px;  /* Distância do topo */
    right: 10px; /* Distância da direita */
}


footer {
    /* Centraliza o texto */
    text-align: center;
    
    /* Adiciona espaçamento interno */
    padding: 10px;
    
    /* Define um fundo escuro */
    background-color: #2c3e50;
    
    /* Define a cor do texto como branco */
    color: white;
    
    /* Mantém o rodapé posicionado na parte inferior */
    position: relative;
    
    /* Garante que o rodapé ocupe toda a largura */
    width: 100%;
}